/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: 'IBM Plex mono', sans-serif;
  font-size: 18px;
  font-style: normal;
  background-image: var(--header-background);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: 10px;
  margin: 0;
}

.title__decor {
  background-color: var(--background-color);
  color: var(--background-text-color);
}

.content__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.decorated-zone::before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr;
  gap: 55px 10px;
}

.header__rec {
  text-transform: uppercase;
  color: var(--accent-color);
  position: absolute;
  right: 10px;
  line-height: 25px;
}

.header__rec::after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 10px;
  background-color: var(--accent-color);
  filter: drop-shadow(0 0 4px var(--accent-color));
}

.shadow__label {
  text-shadow: 4px 4px 0px var(--shadow-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: end;
}

.header__theme-menu-list {
  list-style: none;
  margin: 66px 0 0;
}

.header__theme-menu-list .header__theme-menu-item:not(:last-child) {
  margin-bottom: 13px;
}

.header__theme-menu-button {
  background: transparent;
  border: 1px solid transparent;
  color: var(--accent-color);
  font-family: 'IBM Plex mono', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: lowercase;
  padding-left: 13px;
  padding-right: 13px;
  margin-right: 10px;
  appearance: none;
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__label {
  color: var(--title-color);
  font-size: 116px;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  justify-self: start;
  margin: 0;
}

.header__title {
  font-weight: 700;
  line-height: 23.4px;
  margin-bottom: 66px;
  justify-self: end;
}

.header__title_paragraph {
  margin: 0;
}

.content {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 40px;
  line-height: 130%;
}

.content__article {
  margin: 0 0 50px;
}

.content__article-title {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 20px;
}

.content__description-title {
  font-weight: 700;
  margin: 0 0 10px;
}

.content__description-text {
  color: var(--text-color);
  margin: 0 0 20px;
}
.content__description-block {
  margin: 0;
}

.normal-weight {
  font-weight: 400;
}

.bigger-margin {
  margin-bottom: 20px;
}

.content__gallery {
  display: grid;
  gap: 10px;
}

.content__gallery-image {
  width: 100%;
  height: 100%;
  object-fit: coverd;
}

.footer {
  position: relative;
  display: grid;
  padding: 266px 0;
  justify-content: center;
  align-content: center;
}

.footer__title {
  font-size: 116px;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 95.7px */
  color: var(--title-color);
}
